:root {
  --primary-color: aliceblue;
  --text-center: center;
}

.container {
  background-color: aquamarine;
  font-size: 30px;
}

.container a {
  text-decoration: none;
  color: black;
}

body {
  background-image: url(background.jpg);
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  height: auto;
}

.img-container {
  background-color: var(--primary-color);
  width: 800px;
  border-radius: 50px;
}

main {
  text-align: var(--text-center);
  color: var(--primary-color);
}

.header {
  color: var(--primary-color);
}
